/* Shared style */

.font-open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;

}


* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

.logo h2 {
    font-size: 45px;
    font-weight: 900;
}

.button-style {
    width: 150px;
    height: 65px;
    background-color: #FD6E0A;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    padding: 18px 35px;
    /*top-down left-right*/
    border: 0px;
    border-radius: 5px;
    cursor: pointer;

}

.color-orange {
    color: #FD6E0A;
}

/* main style  */
header {
    background-color: #FFF8F3;
    padding-top: 50px;
    background: url("../images/developer.png"), url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: top left, bottom right, #FFF8F3;

}

nav {
    width: 71%;
    max-width: 1140px;
    /* border: 1px solid brown; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .menu {
    display: flex;
    list-style: none;
    gap: 51px;
    align-items: center;
}

nav .menu a {
    font-size: 20px;
    text-decoration: none;
    color: #474747;
}

#banner {
    border: 1px solid red;
    margin: 47px 38px 0px 230px;
    /*Clockwise after top*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-content h2 {
    font-size: 45;
    color: #474747;
    font: weight 600;
    margin-bottom: 5px;
}

.banner-content h1 {
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}

.banner-content {
    max-width: 585px;
    /* max-width: 356px; */
}

.banner-content p {
    font-size: 18px;
    font-weight: normal;
    color: #757575;
    margin-bottom: 30px;
    line-height: 30px;
}

#banner .banner-img img {
    max-width: 585px;
    vertical-align: middle;
}